<div class="row" id="question">
  <div class="row title">
    {{question.title}}
  </div>
  <div class="col-md-4">
    <span class="name">{{question.name}}</span><br>
    <span class="date">{{question.date}}</span>
  </div>
  <div class="col-md-8">
    <span class="question">{{question.post}}</span>
  </div>
</div>
<hr>

<div class="row">
  <h2 id="answers"> Answers </h2>
  <div class="row">
    {{#each question.answers as |answer|}}
      {{answer-tile answer=answer}}
    {{/each}}
  </div>
</div>
