<div class="container">
  <div class="row title">
    {{question.title}}
  </div>
  <div class="row question-data">
    <div class="col-xs-3">
      <div class="name">
        <p>{{question.name}}</p>
      </div>
      <div class="date">
        <p>{{question.date}}</p>
      </div>
    </div>
    <div class="col-xs-9">
      <div class="question">
        <p>{{question.post}}</p>
      </div>
    </div>
  </div>
  <div class="row">
    {{update-question question=model update="update"}}
  </div>

  <hr>

  <div class="row">
    <h2 id="answers"> Answers </h2>
    <div class="row">
      {{#each question.answers as |answer|}}
      {{answer-tile answer=answer}}
      <br>
      {{/each}}
    </div>
  </div>
</div>
