<div class="row" id="question-update">
  {{#if updateQuestion}}
  <h1>Update Question {{question.title}}</h1>
  <div>
    <form>
      <div class="form-group">
        {{input placeholder="Name" value=name id="name"}}
      </div>
      <div class="form-group">
        {{input placeholder="Title" value=title id="title"}}
      </div>
      <div class="form-group">
        {{textarea placeholder="Update your question" value=post id="post"}}
      </div>
      <div class="form-group">
        {{input placeholder="Date" value=date id="date"}}
      </div>
      <button {{action 'update' question}}>Update</button>
    </form>
  </div>
  {{else}}
  <div class="row">
    <button class="btn" id="update-button" {{action 'updateQuestion'}}>Update Question</button>
  </div>
  {{/if}}
</div>
