<div class="row" id="question">
  {{question.title}}
  <div class="col-md-4">
    {{question.name}}<br>
    {{question.date}}
  </div>

  <div class="col-md-8">
    {{question.question}}
  </div>
</div>

<div class="row" id="answers">
  <div class="col-md-4">
    {{answer.name}}<br>
    {{answer.date}}
  </div>

  <div class="col-md-8">
    {{answer.answer}}
  </div>
</div>
